<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="reportConfiguration" type="appsvc_function_dev_cm_stats_dotnet001.Configuration.ReportConfiguration, appsvc-function-dev-cm-stats-dotnet001" />
	</configSections>
	<appSettings>
		<add key="KeyFileName" value="C:\Users\OPOSTLET\source\repos\appsvc-function-dev-cm-stats-dotnet001\cipher-api-test-73b24f3195a9.json" />
		<add key="PropertyId" value="453422813" />
		<!--Output directory to save generated report-->
		<add key="OutputDirectory" value="C:\GAReports" />
	</appSettings>
	<reportConfiguration>
		<!--Specify either Start & End date in MM/DD/YYYY format or NumberOfDays. In case of start and end date, number of days configuration would be skipped-->
		<dateConfiguration startDate="01/01/2025" endDate="01/15/2025" numberOfDays="" />
		<reports>
			<report name="PageViews" metrics="screenPageViews" dimensions="dateHour,pagePath" filter="" />
			<report name="Events" metrics="eventCount" dimensions="eventName,date,customEvent:job_opportunity_as_event_parameter_id" filter="apply_for_opportunity_clicked" />
			<report name="EventsOpportunityClick" metrics="eventCount" dimensions="eventName,date,customEvent:job_opportunity_id" filter="view_job_opportunity_clicked" />
		</reports>
	</reportConfiguration>
</configuration>