<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="reportConfiguration" type="appsvc_function_dev_cm_stats_dotnet001.Configuration.ReportConfiguration, appsvc-function-dev-cm-stats-dotnet001" />
	</configSections>
	<reportConfiguration>
		<!--Specify either Start & End date in MM/DD/YYYY format or NumberOfDays. In case of start and end date, number of days configuration would be skipped-->
		<dateConfiguration startDate="01/01/2025" endDate="" numberOfDays="" />
		<reports>
			<report name="EventApplyOpportunity" metrics="eventCount" dimensions="eventName,date,customEvent:JobOpportunityId" filter="ApplyJobOpportunity" />
			<report name="EventViewOpportunity" metrics="eventCount" dimensions="eventName,date,customEvent:JobOpportunityId" filter="ViewJobOpportunity" />
		</reports>
	</reportConfiguration>
</configuration>